<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Primary Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Node PDF Creator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Node PDF Creator">
    <meta name="description" content="Create your PDF and print it">
    <meta name="author" content="Kareem Aboeid">
    <meta name="language" content="english">
    <!-- Favicon -->
    <link rel=icon href="../media/Print-Icon.png" type=image/png>
    <!-- Icons -->
    <link rel="stylesheet" href="">
    <!-- CSS -->
    <link rel="stylesheet" href="">
    <!-- JS -->
    <script defer src=""></script>
</head>

<body>

    <!-- Header -->
    <header>

    </header>

    <!-- Main -->
    <main>

    </main>

    <!-- Footer -->
    <footer>

    </footer>

</body>

</html>